#profile-icon {
  display: flex;
  justify-content: center;
}

#dashboard-profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 1em;
  background: #8eff9a;
}

#dashboard-profile-picture:hover {
  cursor: pointer;
}

#dropdown-profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 25%;
  background: #8eff9a;
}

#dropdown-username {
  text-align: center;
}

/* #dropdown-username: hover {
  cursor: default;
} */

.dropdown-menu {
  margin-right: 5rem;
  margin-top: -5rem;
  width: 20rem;
  background: #323232;
  border: 0.25em solid #e5c09c;
  color: #d7d7d7;
}

.dropdown-header {
  text-align: center;
}

.dropdown-item {
  color: #d7d7d7;
}

.dropdown-divider {
  margin: 0.5rem 2rem;
}

#notification-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-list-item {
  text-align: center;
  background-color: #4d4d4d;
  border-radius: 1em;
  width: 18rem;
  margin-bottom: 1em;
  padding: 1em;
}

#notification-text {
  /* margin-top: 0.5em; */
}

.notification-response-btn {
  background-color: #fff;
  border-radius: 1em;
  border: none;
  margin: 0.5em 1em 0em;
  padding: 0.5em;
  text-align: center;
}

.notification-response-btn#accept-btn {
  background-color: #119c4f;
}

.notification-response-btn#decline-btn {
  background-color: #ff6565;
}
