#profile-icon {
  display: flex;
  justify-content: center;
}

#dashboard-profile-picture {
  position: relative;
  display: inline;
  width: 3em;
  height: 3em;
  border-radius: 100%;
  background: #8eff9a;
}

#dashboard-notification-badge {
  position: absolute;
  background-color: #dc3545;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d7d7d7;
}

#dashboard-profile-picture:hover {
  cursor: pointer;
}

#dropdown-profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #8eff9a;
}

#dropdown-username {
  text-align: center;
}

#notification-badge {
  background-color: #dc3545;
}

.dropdown-menu {
  margin-right: 4rem;
  margin-top: -3rem;
  width: 22rem;
  background: #323232;
  border: 0.1em solid #e5c09c;
  border-radius: 1em;
  color: #d7d7d7;
  font-family: "Lora";
  font-size: 1.3rem;
}

.dropdown-header {
  text-align: center;
}

.dropdown-item {
  color: #d7d7d7;
}

.dropdown-divider {
  margin: 0.5rem 2rem;
}
