#profile-icon {
  display: flex;
  justify-content: center;
}

#dashboard-profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 1em;
  background: #8eff9a;
}

#dashboard-profile-picture:hover {
  cursor: pointer;
}

#dropdown-profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 25%;
  background: #8eff9a;
}

#dropdown-username {
  text-align: center;
}

/* #dropdown-username: hover {
  cursor: default;
} */

.dropdown-menu {
  margin-right: 5rem;
  margin-top: -5rem;
  width: 22rem;
  background: #323232;
  border: 0.1em solid #e5c09c;
  border-radius: 1em;
  color: #d7d7d7;
  font-family: "Lora";
  font-size: 1.3rem;
}

.dropdown-header {
  text-align: center;
}

.dropdown-item {
  color: #d7d7d7;
}

.dropdown-divider {
  margin: 0.5rem 2rem;
}
