#Dashboard {
  display: flex;
  height: 100%;
}

.blur-div-and-deactivate {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  pointer-events: none;
}

#Dashboard > #left-sidebar-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
}

#Dashboard > #left-sidebar-container > #dashboard-logo {
  width: 250px;
  height: 100px;
  margin: 1em;
  cursor: pointer;
}

#Dashboard > #left-sidebar-container > #dashboard-teams-container {
  margin:1em;
  margin-top: 0em;
  overflow: auto;
}

#Dashboard > #left-sidebar-container > #dashboard-members-container {
  margin: 1em;
}

#Dashboard > #calendar-container {
  flex: 5;
  background-color: #222222;
  margin-top: 2em;
}

#Dashboard > #right-sidebar-container {
  flex: 0.5;
  background-color: #222222;
  margin: 1em;
}

#Dashboard > #right-sidebar-container > #btn {
  margin-left: 40px;
}

#Dashboard > #right-sidebar-container > #circle-icon-container {
  display: flex;
  flex-direction: column;
}
