.full-viewport-hv {
  display: flex;
  background-color: #222222;
}
#Dashboard {
  display: flex;
  height: 100%;
}

#Dashboard > #left-sidebar-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
}

#Dashboard > #left-sidebar-container > #dashboard-logo {
  width: 250px;
  height: 100px;
  margin: 1em;
  cursor: pointer;
}

#Dashboard > #left-sidebar-container > #dashboard-teams-container {
  margin: 1em;
}

#Dashboard > #left-sidebar-container > #dashboard-members-container {
  margin: 1em;
}

#Dashboard > #calendar-container {
  flex: 5;
  background-color: black;
}

#Dashboard > #right-sidebar-container {
  flex: 0.5;
  background-color: #222222;
}
