.blogPage {
  min-height: 91vh;
  position: relative;
}

.blogPage .card {
  width: 50vh;
  margin: 10px;
}

.blogPage .jumbotron-position {
  position: relative;
  margin: auto;
}

/* .blogPage .blog-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9ecef;
  padding: 2vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
  width: 100%;
} */

/* .blog-form-container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  align-items: center;
  display: block;
} */

/* .blogPage .form-container {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1000px;
  width: 100%;
  padding: 20px 0;
  line-height: 1.6;
  background: #eaeaeb;
  align-items: center;
  display: flex;
  flex-direction: column;
} */

/* .blogPage .response-container {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1000px;
  width: 100%;
  padding: 20px 0;
  line-height: 1.6;
  background: #eaeaeb;
  align-items: center;
  display: flex;
  flex-direction: column;
} */

#blogForm-button {
  background-color: #0055a2;
  border-color: #001b34;
  color: white;
}

#blogForm-button:hover:enabled {
  background-color: #002d57;
  border-color: #000e1b;
}

.blogPage .content-container {
  margin: auto;
  width: 100%;
  padding: 30px;
  background: #eaeaeb;
  /* align-items: center; */
  /* display: flex; */
  /* flex-direction: column; */
}

.blogPage .component-container {
  background: #fdfdfd;
  border: 1px dashed rgb(196, 196, 196);
  padding: 3%;
}

.blogPage .post-button {
  text-align: center;
}

.blogPage .spacing-below-button {
  margin-bottom: 30px;
}
