#notification-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 16em;
  overflow: scroll;
}

.notification-list-item {
  text-align: center;
  background-color: #4d4d4d;
  border-radius: 0.5em;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 0.5em;
  padding: 0.5em;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.notification-list-item > .notif-dismiss-btn-container {
  display: flex;
  justify-content: center;
}

#notification-text {
  font-size: medium;
  margin-bottom: 0.5em;
}

.notification-response-btn {
  color: #FFFFFF;
  border-radius: 0.75em;
  border: none;
  margin: 0.2em 0.8em 0em;
  padding: 0.3em;
  width: 4.5em;
  text-align: center;
  font-size: medium;
  cursor: pointer;
}

.notification-response-btn#notif-accept-btn {
  background-color: #FF6565;
}

.notification-response-btn#notif-decline-btn {
  background-color: #747474;
}

.notification-response-btn#notif-view-btn {
  background-color: #e5c09c;
  color: #222222;
}

.notification-response-btn#notif-dismiss-btn {
  background-color: #747474;
  color: #FFFFFF;
}

.dropdown-menu.dropdown-menu-right.show {
  padding: 1em;
  border-radius: 0.5em;
  border-width: 1px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
