#DragFillGrid {

}

#DragFillGrid > #dragfillgrid-header-titles {
    display: flex;
    justify-content: space-around;
    margin-left: 3.7em;
    margin-bottom: 0.5em;
}

#DragFillGrid > #dragfillgrid-header-titles > span {
    display: flex;
    flex: 1;
    justify-content: center;
}

#DragFillGrid > #dragfillgrid-header-titles > #dragfill-grid-header-start, #dragfill-grid-header-end {
    color:#E5C09C;
}

#DragFillGrid > #dragfillgrid-grid-container {
    display: flex;
    height: 45em;
}

#DragFillGrid > #dragfillgrid-grid-container > .dragfillgrid-grid-side-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    margin-right: 1em;
}

#DragFillGrid > #dragfillgrid-grid-container > #dragfillgrid-grid-div {
    display: flex;
    flex: 20;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    overflow: auto;
}

#DragFillGrid > #dragfillgrid-grid-container > #dragfillgrid-grid-div > #dragfillgrid-grid {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #FFFFFF;
}

::-webkit-scrollbar { 
    display: none; 
}

#DragFillGrid > #dragfillgrid-grid-container > #dragfillgrid-grid-div > #dragfillgrid-grid > tr {
    display: flex;
}

#DragFillGrid > #dragfillgrid-grid-container > #dragfillgrid-grid-div > #dragfillgrid-grid > tr > td {
    flex: 1;
    border-left: solid #d3d3d3 2px;
    border-bottom: solid #d3d3d3 0.5px;
    height: 3em;
}

#DragFillGrid > #dragfillgrid-grid-container > .dragfillgrid-grid-side-info > .dragfillgrid-row-headers {
    font-weight: 300;
    margin-bottom: 1.5em;
}