#list-select-container {
  white-space: nowrap;
  width: 15em;
}

#list-select-container > #list-select-header {
  display: flex;
  background-color: #e5c09c;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5em;
}

#list-select-container > #list-select-header > h6 {
  color: #222222;
  margin: 0.25em 0.5em 0.25em 0.5em;
}

#list-select-container > #list-select-header > #list-select-plus-icon {
  width: 1em;
  height: 1em;
  margin: 0.25em 0.5em 0.25em 0.5em;
  cursor: pointer;
}

#list-select-container > #list-select-list {
  margin: 1em 0em;
}

#list-select-container > #list-select-list > .list-select-item {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  cursor: pointer;
}

#list-select-container > #list-select-list > .list-select-item:hover {
  background-color: rgb(26, 26, 26);
}

#list-select-container > #list-select-list > .list-select-selected {
  background-color: #000000;
}

#list-select-container > #list-select-list > .list-select-selected:hover {
  background-color: #000000;
}

#list-select-container
  > #list-select-list
  > .list-select-item
  > .list-select-item-img-container {
}

#list-select-container
  > #list-select-list
  > .list-select-item
  > .list-select-item-img-container
  > .list-select-item-img {
  width: 3em;
  height: 3em;
  border-radius: 100%;
  pointer-events: none;
  object-fit: cover;
  border: solid #222222 1px;
}

#list-select-container
  > #list-select-list
  > .list-select-item
  > .list-select-remove-icon {
  /* display: none; */
  align-self: flex-start;
  width: 1em;
  height: 1em;
  opacity: 0.7;
  z-index: 99999;
}

#list-select-container
  > #list-select-list
  > .list-select-item
  > .list-select-remove-icon:hover {
  opacity: 1;
}

#list-select-container > #list-select-list > .list-select-item > * h6 {
  margin: 0.25em 0.5em 0em 0.5em;
  color: #d7d7d7;
}

#list-select-container > #list-select-list > .list-select-item > * p {
  margin: 0em 0.5em 0.25em 0.5em;
  color: #d7d7d7;
  font-size: smaller;
}
